In [2]:
# 1. Install PySpark
!pip install pyspark

# 2. Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# 3. Import Libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, rank, lag, year, month, dayofmonth, udf
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType

# 4. Create SparkSession
spark = SparkSession.builder.appName("RetailTransactions").getOrCreate()

# 5. Load CSV with Manual Schema
file_path = "/content/drive/My Drive/retail_data.csv"

schema = StructType([
    StructField("TransactionID", StringType()),
    StructField("Customer", StringType()),
    StructField("City", StringType()),
    StructField("Product", StringType()),
    StructField("Category", StringType()),
    StructField("Quantity", IntegerType()),
    StructField("UnitPrice", DoubleType()),
    StructField("TotalPrice", DoubleType()),
    StructField("TransactionDate", StringType()),
    StructField("PaymentMode", StringType())
])

df = spark.read.csv(file_path, header=True, schema=schema)
df = df.withColumn("TransactionDate", col("TransactionDate").cast(DateType()))

# 6. Data Exploration & Filtering
df.filter(col("TotalPrice") > 40000).show()
df.select("City").distinct().show()
df.filter(col("City") == "Delhi").show()
df.where("City = 'Delhi'").show()

# 7. Data Manipulation
df = df.withColumn("DiscountedPrice", col("TotalPrice") * 0.9)
df = df.withColumnRenamed("TransactionDate", "TxnDate")
df = df.drop("UnitPrice")

# 8. Aggregations
df.groupBy("City").sum("TotalPrice").withColumnRenamed("sum(TotalPrice)", "TotalSales").show()

df_original = spark.read.csv(file_path, header=True, inferSchema=True)
df_original.groupBy("Category").avg("UnitPrice").withColumnRenamed("avg(UnitPrice)", "AvgUnitPrice").show()

df.groupBy("PaymentMode").count().show()

# 9. Window Functions
windowSpec = Window.partitionBy("City").orderBy(col("TotalPrice").desc())
df.withColumn("Rank", rank().over(windowSpec)).select("TransactionID", "City", "TotalPrice", "Rank").show()

df.withColumn("PrevAmount", lag("TotalPrice").over(windowSpec)).select("TransactionID", "City", "TotalPrice", "PrevAmount").show()

# 10. Joins
city_region_data = [("Mumbai", "West"), ("Delhi", "North"), ("Bangalore", "South"), ("Hyderabad", "South")]
city_region_schema = ["City", "Region"]
city_region_df = spark.createDataFrame(city_region_data, city_region_schema)

df_joined = df.join(city_region_df, on="City", how="left")
df_joined.groupBy("Region").sum("TotalPrice").withColumnRenamed("sum(TotalPrice)", "TotalSales").show()

# 11. Nulls & Data Cleaning
df_with_null = df.withColumn("Quantity", when(col("TransactionID") == "T1002", None).otherwise(col("Quantity")))
df_with_null.na.drop(subset=["Quantity"]).show()

df_filled = df_with_null.na.fill({"PaymentMode": "Unknown"})
df_filled.show()

# 12. UDF for Order Labeling
def label_order(amount):
    if amount > 50000:
        return "High"
    elif amount >= 30000:
        return "Medium"
    else:
        return "Low"

label_udf = udf(label_order, StringType())
df = df.withColumn("OrderLabel", label_udf(col("TotalPrice")))
df.select("TransactionID", "TotalPrice", "OrderLabel").show()

# 13. Date & Time
df_date_parts = df.withColumn("Year", year("TxnDate")) \
                  .withColumn("Month", month("TxnDate")) \
                  .withColumn("Day", dayofmonth("TxnDate"))

df_date_parts.select("TransactionID", "Year", "Month", "Day").show()
df_date_parts.filter(col("Month") == 2).select("TransactionID", "TxnDate").show()

# 14. Union & Deduplication
df_dup = df.union(df)
df_no_dup = df_dup.dropDuplicates()

print("Original count:", df.count())
print("After union() :", df_dup.count())
print("After dropDuplicates():", df_no_dup.count())

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
+-------------+--------+---------+-------+-----------+--------+---------+----------+---------------+-----------+
|TransactionID|Customer|     City|Product|   Category|Quantity|UnitPrice|TotalPrice|TransactionDate|PaymentMode|
+-------------+--------+---------+-------+-----------+--------+---------+----------+---------------+-----------+
|        T1001|     Ali|   Mumbai| Laptop|Electronics|       1|  70000.0|   70000.0|     2024-01-15|       Card|
|        T1002|    Neha|Bangalore| Tablet|Electronics|       2|  30000.0|   60000.0|     2024-01-20|        UPI|
|        T1005|   Karan|   Mumbai|  Phone|Electronics|       1|  50000.0|   50000.0|     2024-02-15|       Card|
+-------------+--------+---------+-------+-----------+--------+---------+----------+---------------+-----------+

+---------+
|     City|
+---------+
|Bangalore|
|   Mumbai|
|    Delhi|
|Hyderabad|
+---------+

+-------------+--------+-----+-------+-----------+--------+---------+----------+---------------+-----------+
|TransactionID|Customer| City|Product|   Category|Quantity|UnitPrice|TotalPrice|TransactionDate|PaymentMode|
+-------------+--------+-----+-------+-----------+--------+---------+----------+---------------+-----------+
|        T1004|    Zoya|Delhi|  Chair|  Furniture|       4|   5000.0|   20000.0|     2024-02-12|       Card|
|        T1006|   Farah|Delhi|  Mouse|Electronics|       3|   1000.0|    3000.0|     2024-02-18|       Cash|
+-------------+--------+-----+-------+-----------+--------+---------+----------+---------------+-----------+

+-------------+--------+-----+-------+-----------+--------+---------+----------+---------------+-----------+
|TransactionID|Customer| City|Product|   Category|Quantity|UnitPrice|TotalPrice|TransactionDate|PaymentMode|
+-------------+--------+-----+-------+-----------+--------+---------+----------+---------------+-----------+
|        T1004|    Zoya|Delhi|  Chair|  Furniture|       4|   5000.0|   20000.0|     2024-02-12|       Card|
|        T1006|   Farah|Delhi|  Mouse|Electronics|       3|   1000.0|    3000.0|     2024-02-18|       Cash|
+-------------+--------+-----+-------+-----------+--------+---------+----------+---------------+-----------+

+---------+----------+
|     City|TotalSales|
+---------+----------+
|Bangalore|   60000.0|
|   Mumbai|  120000.0|
|    Delhi|   23000.0|
|Hyderabad|   15000.0|
+---------+----------+

+-----------+------------+
|   Category|AvgUnitPrice|
+-----------+------------+
|Electronics|     37750.0|
|  Furniture|     10000.0|
+-----------+------------+

+-----------+-----+
|PaymentMode|count|
+-----------+-----+
|Net Banking|    1|
|       Card|    3|
|       Cash|    1|
|        UPI|    1|
+-----------+-----+

+-------------+---------+----------+----+
|TransactionID|     City|TotalPrice|Rank|
+-------------+---------+----------+----+
|        T1002|Bangalore|   60000.0|   1|
|        T1004|    Delhi|   20000.0|   1|
|        T1006|    Delhi|    3000.0|   2|
|        T1003|Hyderabad|   15000.0|   1|
|        T1001|   Mumbai|   70000.0|   1|
|        T1005|   Mumbai|   50000.0|   2|
+-------------+---------+----------+----+

+-------------+---------+----------+----------+
|TransactionID|     City|TotalPrice|PrevAmount|
+-------------+---------+----------+----------+
|        T1002|Bangalore|   60000.0|      NULL|
|        T1004|    Delhi|   20000.0|      NULL|
|        T1006|    Delhi|    3000.0|   20000.0|
|        T1003|Hyderabad|   15000.0|      NULL|
|        T1001|   Mumbai|   70000.0|      NULL|
|        T1005|   Mumbai|   50000.0|   70000.0|
+-------------+---------+----------+----------+

+------+----------+
|Region|TotalSales|
+------+----------+
| South|   75000.0|
|  West|  120000.0|
| North|   23000.0|
+------+----------+

+-------------+--------+---------+-------+-----------+--------+----------+----------+-----------+---------------+
|TransactionID|Customer|     City|Product|   Category|Quantity|TotalPrice|   TxnDate|PaymentMode|DiscountedPrice|
+-------------+--------+---------+-------+-----------+--------+----------+----------+-----------+---------------+
|        T1001|     Ali|   Mumbai| Laptop|Electronics|       1|   70000.0|2024-01-15|       Card|        63000.0|
|        T1003|    Ravi|Hyderabad|   Desk|  Furniture|       1|   15000.0|2024-02-10|Net Banking|        13500.0|
|        T1004|    Zoya|    Delhi|  Chair|  Furniture|       4|   20000.0|2024-02-12|       Card|        18000.0|
|        T1005|   Karan|   Mumbai|  Phone|Electronics|       1|   50000.0|2024-02-15|       Card|        45000.0|
|        T1006|   Farah|    Delhi|  Mouse|Electronics|       3|    3000.0|2024-02-18|       Cash|         2700.0|
+-------------+--------+---------+-------+-----------+--------+----------+----------+-----------+---------------+

+-------------+--------+---------+-------+-----------+--------+----------+----------+-----------+---------------+
|TransactionID|Customer|     City|Product|   Category|Quantity|TotalPrice|   TxnDate|PaymentMode|DiscountedPrice|
+-------------+--------+---------+-------+-----------+--------+----------+----------+-----------+---------------+
|        T1001|     Ali|   Mumbai| Laptop|Electronics|       1|   70000.0|2024-01-15|       Card|        63000.0|
|        T1002|    Neha|Bangalore| Tablet|Electronics|    NULL|   60000.0|2024-01-20|        UPI|        54000.0|
|        T1003|    Ravi|Hyderabad|   Desk|  Furniture|       1|   15000.0|2024-02-10|Net Banking|        13500.0|
|        T1004|    Zoya|    Delhi|  Chair|  Furniture|       4|   20000.0|2024-02-12|       Card|        18000.0|
|        T1005|   Karan|   Mumbai|  Phone|Electronics|       1|   50000.0|2024-02-15|       Card|        45000.0|
|        T1006|   Farah|    Delhi|  Mouse|Electronics|       3|    3000.0|2024-02-18|       Cash|         2700.0|
+-------------+--------+---------+-------+-----------+--------+----------+----------+-----------+---------------+

+-------------+----------+----------+
|TransactionID|TotalPrice|OrderLabel|
+-------------+----------+----------+
|        T1001|   70000.0|      High|
|        T1002|   60000.0|      High|
|        T1003|   15000.0|       Low|
|        T1004|   20000.0|       Low|
|        T1005|   50000.0|    Medium|
|        T1006|    3000.0|       Low|
+-------------+----------+----------+

+-------------+----+-----+---+
|TransactionID|Year|Month|Day|
+-------------+----+-----+---+
|        T1001|2024|    1| 15|
|        T1002|2024|    1| 20|
|        T1003|2024|    2| 10|
|        T1004|2024|    2| 12|
|        T1005|2024|    2| 15|
|        T1006|2024|    2| 18|
+-------------+----+-----+---+

+-------------+----------+
|TransactionID|   TxnDate|
+-------------+----------+
|        T1003|2024-02-10|
|        T1004|2024-02-12|
|        T1005|2024-02-15|
|        T1006|2024-02-18|
+-------------+----------+

Original count: 6
After union() : 12
After dropDuplicates(): 6