In [2]:
from google.colab import files
import pandas as pd
from datetime import datetime

# Upload the CSV file
uploaded = files.upload()

# Load the dataset
df = pd.read_csv("large_employee_dataset.csv", parse_dates=["JoiningDate"])

# Display first few rows
df.head()

Saving large_employee_dataset.csv to large_employee_dataset.csv

,EmployeeID,Name,Age,Department,Salary,JoiningDate,Status,City
0,4128,Charles Johnson,52,HR,64039,2018-07-07,Resigned,Allentown
1,6094,Dylan Camacho,57,Marketing,34686,2015-08-25,Active,Anthonyfort
2,5883,Mr. Ryan Bowman Jr.,29,Finance,64541,2025-03-11,On Leave,Gilesstad
3,9146,Brian Ball,24,Sales,87831,2015-10-01,Resigned,Jenniferfurt
4,1918,Angela Hooper,26,Finance,108773,2019-08-14,On Leave,Lake Amystad

In [3]:
print(df.head(10))

   EmployeeID                   Name  Age Department  Salary JoiningDate  \
0        4128        Charles Johnson   52         HR   64039  2018-07-07
1        6094          Dylan Camacho   57  Marketing   34686  2015-08-25
2        5883    Mr. Ryan Bowman Jr.   29    Finance   64541  2025-03-11
3        9146             Brian Ball   24      Sales   87831  2015-10-01
4        1918          Angela Hooper   26    Finance  108773  2019-08-14
5        4600  Alexander Johnson PhD   45      Sales   75671  2016-04-21
6        6253            Steven Lane   47    Finance   64982  2021-07-25
7        8278          Riley Johnson   49         HR   43449  2015-08-03
8        8520       Emily Washington   43    Finance   33851  2021-11-30
9        1298        Valerie Fleming   42  Marketing   70137  2019-12-08

     Status          City
0  Resigned     Allentown
1    Active   Anthonyfort
2  On Leave     Gilesstad
3  Resigned  Jenniferfurt
4  On Leave  Lake Amystad
5  On Leave    Russohaven
6    Active   East Robert
7  Resigned    New Thomas
8  Resigned   West Ashley
9  Resigned   Caseborough

In [4]:
print("Total employees:", len(df))

Total employees: 500

In [5]:
print("Departments:", df['Department'].unique())

Departments: ['HR' 'Marketing' 'Finance' 'Sales' 'IT']

In [6]:
it_employees = df[df['Department'] == "IT"]
print(it_employees)

     EmployeeID               Name  Age Department  Salary JoiningDate  \
15         6598        Mary Henson   58         IT   63951  2021-08-25
23         8518   Elizabeth Abbott   22         IT   91732  2022-11-05
24         9506        Thomas Dunn   45         IT   90340  2020-07-12
32         9663        Glenn Mason   43         IT  109189  2020-03-27
36         2106     Richard Bailey   45         IT   30950  2021-06-29
..          ...                ...  ...        ...     ...         ...
484        5252      Mary Martinez   22         IT   94629  2019-09-09
486        5755       Erika Ortega   42         IT  117517  2023-04-16
488        2581   Alexandria Jones   34         IT  119009  2017-01-22
493        5876       Nicole Baker   25         IT   64237  2023-12-28
497        4435  Patricia Odonnell   52         IT   65423  2024-08-05

       Status              City
15     Active       Port Tricia
23     Active       Douglasside
24   On Leave    Lindseychester
32   On Leave      Katelynburgh
36   Resigned        North John
..        ...               ...
484  Resigned  West Christopher
486  On Leave         Kellyfort
488  On Leave          Toniside
493    Active      North Nicole
497    Active      Moranchester

[90 rows x 8 columns]

In [7]:
age_filtered = df[(df['Age'] >= 30) & (df['Age'] <= 40)]
print(age_filtered)

     EmployeeID                Name  Age Department  Salary JoiningDate  \
14         4676  Christopher Fuller   30         HR   63042  2021-04-30
16         4136       Jerome Torres   30    Finance   68213  2024-11-30
22         1588         Edwin Burns   34      Sales  108208  2015-09-14
28         8074         Fred Brewer   30         HR  100736  2021-06-06
31         3841         April Allen   36         HR   98845  2020-05-20
..          ...                 ...  ...        ...     ...         ...
489        6329       Heidi Shaffer   36         HR  119165  2020-01-14
490        5998       Bruce Serrano   36         HR  118641  2019-02-02
491        2621        Aaron Duncan   36    Finance   76393  2017-07-24
492        7189     Spencer Frazier   32      Sales   86055  2025-03-23
494        4793        Tara Sanchez   36    Finance   78360  2015-10-31

       Status                 City
14   Resigned     South Donnaville
16     Active  North Justinborough
22   Resigned          South David
28   On Leave      Port Wendyville
31     Active        Rachelchester
..        ...                  ...
489  Resigned            New Alexa
490    Active      South Elizabeth
491  Resigned          Michaelport
492  Resigned     East Ericborough
494  Resigned         Kimberlyfurt

[142 rows x 8 columns]

In [8]:
sorted_by_salary = df.sort_values(by='Salary', ascending=False)
print(sorted_by_salary)

     EmployeeID              Name  Age Department  Salary JoiningDate  \
445        8860     Cody Williams   30         IT  119978  2019-03-16
248        4585    Sandra Webster   30         HR  119940  2022-10-21
413        4667       Ronald Hunt   58      Sales  119677  2019-08-29
121        1602  Deborah Williams   25         HR  119397  2023-09-26
45         3374      Amanda Green   41         HR  119316  2021-04-08
..          ...               ...  ...        ...     ...         ...
320        5332   Nicole Figueroa   42    Finance   30570  2023-11-14
437        6408     Vernon Miller   28  Marketing   30547  2018-07-05
239        1320  Michele Lawrence   22    Finance   30110  2024-05-14
99         3087      Mark Padilla   33         HR   30080  2017-10-14
346        1914      Hannah Jones   57         HR   30071  2018-04-30

       Status               City
445  Resigned         Susanville
248  On Leave       Thompsonport
413  Resigned    Griffithchester
121  On Leave    Port Terrimouth
45   Resigned    West Shelleyton
..        ...                ...
320  On Leave         Davishaven
437    Active       New Michelle
239  Resigned     Natalieborough
99   On Leave  North Josephhaven
346    Active         South Luis

[500 rows x 8 columns]

In [9]:
avg_salary_by_dept = df.groupby('Department')['Salary'].mean()
print(avg_salary_by_dept)

Department
Finance      72834.756303
HR           76091.274510
IT           73116.255556
Marketing    71958.188889
Sales        77488.545455
Name: Salary, dtype: float64

In [10]:
status_count = df['Status'].value_counts()
print(status_count)

Status
Active      172
On Leave    169
Resigned    159
Name: count, dtype: int64

In [11]:
max_salary_by_city = df.groupby('City')['Salary'].max()
print(max_salary_by_city)

City
Aaronberg           76528
Adkinsbury          60857
Aguilarchester      37472
Aimeeport          101791
Allenberg           96201
                    ...
Whiteport           31057
Whiteview          115326
Williamsborough     70552
Williamsland        49167
Wilsonchester       67025
Name: Salary, Length: 494, dtype: int64

In [12]:
df['JoinYear'] = df['JoiningDate'].dt.year
join_count_by_year = df.groupby('JoinYear')['EmployeeID'].count()
print(join_count_by_year)

JoinYear
2015    37
2016    49
2017    44
2018    52
2019    52
2020    56
2021    49
2022    49
2023    47
2024    38
2025    27
Name: EmployeeID, dtype: int64

In [13]:
active_employees = df[df['Status'] == "Active"]
active_by_dept = active_employees.groupby('Department')['EmployeeID'].count()
print(active_by_dept)

Department
Finance      45
HR           37
IT           26
Marketing    32
Sales        32
Name: EmployeeID, dtype: int64

In [14]:
avg_age_by_dept = df.groupby('Department')['Age'].mean()
print(avg_age_by_dept)

Department
Finance      39.210084
HR           41.460784
IT           38.688889
Marketing    41.822222
Sales        40.535354
Name: Age, dtype: float64

In [15]:
# Sample mapping
city_region_data = {
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Region': ['East', 'West', 'Central', 'South']
}

city_region_df = pd.DataFrame(city_region_data)

# Merge
df_merged = pd.merge(df, city_region_df, on='City', how='left')
print(df_merged.head())

   EmployeeID                 Name  Age Department  Salary JoiningDate  \
0        4128      Charles Johnson   52         HR   64039  2018-07-07
1        6094        Dylan Camacho   57  Marketing   34686  2015-08-25
2        5883  Mr. Ryan Bowman Jr.   29    Finance   64541  2025-03-11
3        9146           Brian Ball   24      Sales   87831  2015-10-01
4        1918        Angela Hooper   26    Finance  108773  2019-08-14

     Status          City  JoinYear Region
0  Resigned     Allentown      2018    NaN
1    Active   Anthonyfort      2015    NaN
2  On Leave     Gilesstad      2025    NaN
3  Resigned  Jenniferfurt      2015    NaN
4  On Leave  Lake Amystad      2019    NaN

In [16]:
salary_by_region = df_merged.groupby('Region')['Salary'].sum()
print(salary_by_region)

Series([], Name: Salary, dtype: int64)

In [17]:
df['YearsExperience'] = (pd.to_datetime('today') - df['JoiningDate']).dt.days // 365
print(df[['EmployeeID', 'Name', 'YearsExperience']].head())

   EmployeeID                 Name  YearsExperience
0        4128      Charles Johnson                6
1        6094        Dylan Camacho                9
2        5883  Mr. Ryan Bowman Jr.                0
3        9146           Brian Ball                9
4        1918        Angela Hooper                5

In [18]:
experienced_employees = df[df['YearsExperience'] > 5]
print(experienced_employees[['EmployeeID', 'Name', 'YearsExperience']])

     EmployeeID                   Name  YearsExperience
0          4128        Charles Johnson                6
1          6094          Dylan Camacho                9
3          9146             Brian Ball                9
5          4600  Alexander Johnson PhD                9
7          8278          Riley Johnson                9
..          ...                    ...              ...
490        5998          Bruce Serrano                6
491        2621           Aaron Duncan                7
494        4793           Tara Sanchez                9
496        6429        Timothy Farrell                8
498        4872         Brittany Craig                9

[207 rows x 3 columns]